<% layout("layouts/boilerplate.ejs") %>

<body>
    <br>
    <div class="container">
        

        <!-- Expense Table below -->
        <h1 class="fw-bold mb-4 text-center">All Expenses</h1>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12">
                <table class="table table-hover text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let expense of allExpenses) { %>
                            <tr onclick="window.location.href='/expenses/<%= expense._id %>'" style="cursor: pointer;">
                                <td>
                                    <img src="<%= expense.image %>" class="rounded-circle" 
                                        alt="expense image" 
                                        style="width: 40px; height: 40px; object-fit: cover;">
                                </td>
                                <td><b><%= expense.title %></b></td>
                                <td>&#8377; <%= expense.amount.toLocaleString("en-IN") %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>