<% layout("layouts/boilerplate") %>

<div class="container mt-5" style="max-width: 500px;">
  <h2 class="mb-3">Reset Password</h2>
  <form action="/reset/<%= token %>" method="POST">
    <div class="form-group mb-3">
      <label>New Password</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <button class="btn btn-success w-100">Reset Password</button>
  </form>
</div>